<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.permittest.jargueta"

    android:compileSdkVersion="30"
    android:compileSdkVersionCodename="10"
    android:versionCode="2"
    android:versionName="1.0.1">

    <application
        android:allowBackup="true"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:icon="@mipmap/ic_launcher"
        android:label="NY Permit Test Study Guide"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/NoActionBarTheme"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".QuizQuestionsActivity"
            android:screenOrientation="fullSensor" />

        <activity android:name=".ResultActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/NoActionBarTheme" />
    </application>
</manifest>